@import "../../styles/variables.scss";

$list-default-width: 20rem;

.list {
  box-sizing: border-box;
  width: $list-default-width;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.isDisabled {
  opacity: $defaultOpacity;
}

.icon {
  width: 0.8rem;
  height: 0.8rem;
}

.navLink {
  box-sizing: border-box;
  display: inline-block;
  width: 12rem;
  height: 2rem;
  color: green;
  background-color: darkorange;
  text-decoration: none;
  border: 1px solid green;

  &:hover {
    color: white;
  }
}